#faq-box .faq-category {
    font-size: 27px;
    margin: 20px 20px 20px 0px;
}

#faq-box .accordion-toggle {
    text-decoration: none;
}

#faq-box .panel-heading [data-toggle="collapse"]:after {
    font-family: 'FontAwesome';
    content: "\f078";
    float: right;
    color: #337ab7;
    font-size: 18px;
    line-height: 22px;
}

#faq-box .panel-heading [data-toggle="collapse"].collapsed:after {
    color: #454444;
}