/* Pricing Page Styles */
.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

.changelog-box hr {
    margin-top: 0px;
    margin-bottom: 10px;
}