/* Testimonial Carousel */
#testimonial-carousel {
    padding: 0 10px 45px 10px;
    margin-top: 30px;
}

#testimonial-carousel .carousel-control-prev, #testimonial-carousel .carousel-control-next {
    background: none;
    color: #CACACA;
    text-shadow: none;
    margin-top: 30px;
}

#testimonial-carousel .carousel-control-prev {
    left: -20px;
}

#testimonial-carousel .carousel-control-next {
    right: -20px;
}
#testimonial-carousel .carousel-control-prev, #testimonial-carousel .carousel-control-next {
    color:  #255d78;
}

/*#testimonial-carousel .carousel-indicators {*/
    /*right: 50%;*/
    /*top: auto;*/
    /*bottom: 0px;*/
    /*margin-right: -19px;*/
/*}*/

#testimonial-carousel .carousel-indicators li {
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}

#testimonial-carousel .carousel-indicators .active {
    background: #255d78;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border-color: #f5f5f5;
    opacity: 1;
    overflow: hidden;
}

#testimonial-carousel .carousel-inner {
    min-height: 200px;
}

#testimonial-carousel .item blockquote {
    border-left: none;
    margin: 0;
}
