/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.live
.env.stage
_ide_helper.php
.phpstorm.meta.php
public/mix-manifest.json
resources/assets/images/home/
resources/assets/images/fancy/
resources/assets/js/vendor/jquery-2.2.2.js
storage/google-analytics.p12
resources/mix-manifest.json
resources/assets/css/vendor.css
