.dropzone {
    border: 2px dashed #3c8dbc;
}

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
    cursor: pointer;
    font-size: 120%;
    color: #333;
}

.box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #333333;
    background-color: #333333;
}

/* summernote checkbox */
#sn-checkbox-open-in-new-window {
    left: initial !important;
}