/*
|------------------------------------------
| RADIO AND CHECKBOXES
|------------------------------------------
*/

.radio,
.checkbox {
    margin-bottom: 4px;
    padding-left: 25px;
    line-height: 25px;
    color: #404040;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
}

.radio:last-child,
.checkbox:last-child {
    margin-bottom: 0;
}

.radio input,
.checkbox input {
    position: absolute;
    left: -9999px;
}

.radio input + i:after,
.checkbox input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}

.radio i,
.checkbox i {
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 19px;
    height: 19px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    background: #FFF;
}

.radio i {
    border-radius: 50%;
}

.radio input + i:after {
    content: '';
    top: 4px;
    left: 4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.checkbox input + i:after {
    content: '\f00c';
    top: -1px;
    left: 1px;
    width: 15px;
    height: 15px;
    font: normal 16px/19px FontAwesome;
    text-align: center;
}

.checkbox input:checked:hover + i:after {
    content: '\f00d';
}

.checkbox input:checked:disabled:hover + i:after {
    content: '\f00c';
}

.radio input:checked + i:after,
.checkbox input:checked + i:after {
    opacity: 1;
}

.inline-group {
    margin: 0 -15px -4px 0;
}

.inline-group:after {
    content: '';
    display: table;
    clear: both;
}

.inline-group .radio,
.inline-group .checkbox {
    float: left;
    margin-right: 30px;
}

.inline-group .radio:last-child,
.inline-group .checkbox:last-child {
    margin-bottom: 4px;
}

/*
 * checked state
 */

.radio input + i:after {
    background-color: #3276b1;
}

.checkbox input + i:after {
    color: #3276b1;
}

.radio input:checked + i,
.checkbox input:checked + i,
.toggle input:checked + i {
    border-color: #3276b1;
}