/*
|------------------------------------------
| DATA TABLES
|------------------------------------------
*/
.table-bordered {
    border: 1px solid #ddd;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 6px;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}

div.dataTables_wrapper div.dataTables_length {
    text-align: right;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    /*background-color: #f6f6f6;*/
}

.table-hover > tbody > tr:hover {
    background-color: #f0f0f0;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    /*border-top: 1px solid #ddd;*/
    border-right: 1px solid #ddd;
}

.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

div.dataTables_info {
    padding-top: 9px;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    color: #969696;
}

div.dataTables_filter label {
    position: relative;
    display: table;
    border-collapse: separate;
}

div.dataTables_filter.input-group input {
    margin-left: 0px !important;
}

.dt-toolbar-footer > :first-child, .dt-toolbar > :first-child {
    padding-left: 0px !important;
}

.dt-toolbar-footer > :last-child, .dt-toolbar > :last-child {
    padding-right: 0px !important;
}

.dt-toolbar .col-sm-6.col-xs-12.hidden-xs {
    padding-right: 0 !important;
}

.dt-toolbar-footer .pagination {
    font-size: 11px;
}

.dataTables_empty {
    text-align: center;
}
