
.text-primary {
    color: #337ab7 !important;
}

/* This prevents the 0 padding when we are in 'loading' state */
.btn.btn-primary.btn-labeled i.fa-spin.fa-refresh {
    padding: 8px 12px !important;
}

.select2-container .select2-search--inline {
    display: none;
}

form hr {
    margin-top: 10px; margin-bottom: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

/*
|------------------------------------------
| GOOGLE MAPS - SEARCH BOX
|------------------------------------------
*/
#pac-input {
    padding: 0 11px 0 13px;
    margin-top: 50px;
    left: 10px !important;
    outline: none;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 250px;
    height: 32px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input:focus {
    border-color: #4d90fe;
}

/*
|------------------------------------------
| AUTH PAGES
|------------------------------------------
*/
.auth-page {
    margin-top: 5%;
    /*background: #e0e0e0;*/
}

.auth-page .logo {
    text-align: center;
    margin-bottom: 25px;
}

.auth-page .auth-title {
    margin: 0;
    text-align: center;
    padding: 0 15px 15px 15px;
}

.auth-page .body {
    color: #666;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

/*
|------------------------------------------
| HELP - CALLOUT
|------------------------------------------
*/

.box-body.no-padding .callout.callout-help {
    margin: 10px;
}

.callout.callout-help {
    padding: 10px !important;
    border-radius: 0px !important;
    background-color: initial !important;
}

.callout-help .title {
    color: #3c8dbc;
}

.callout-help p {
    color: #333;
}

/*
|------------------------------------------
| BUTTONS TOOLBAR
|------------------------------------------
*/
.well-toolbar {
    border-radius: 0px;
}

/*
|------------------------------------------
| FORM GRID
|------------------------------------------
*/
form .row {
    margin: 0 -15px;
}
form .row:after {
    content: '';
    display: table;
    clear: both;
}
form .col {
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
form .col-1 {
    width: 8.33%;
}
form .col-2 {
    width: 16.66%;
}
form .col-3 {
    width: 25%;
}
form .col-4 {
    width: 33.33%;
}
form .col-5 {
    width: 41.66%;
}
form .col-6 {
    width: 50%;
}
form .col-8 {
    width: 66.67%;
}
form .col-9 {
    width: 75%;
}
form .col-10 {
    width: 83.33%;
}
@media screen and (max-width: 600px) {
    form .col {
        float: none;
        width: 100%;
    }
}

form fieldset {
    padding: 10px;
}

.form-footer {
    display: block;
    padding: 7px 14px 15px;
    border-top: 1px solid rgba(0,0,0,.1);
    background: rgba(248,248,248,.9);
}

.form-footer .btn {
    float: right;
    margin: 7px 0 0 5px;
    cursor: pointer;
}

.form-footer .note {
    float: left;
    margin-top: 15px;
}

.form-footer:after {
    content: '';
    display: table;
    clear: both;
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
    background: #fff;
    border-color: rgb(236, 240, 245);
}